<!-- <div class="container">

  <nav>
    <ul>
      <li><img src="" alt=""></li>
    <li>Home</li>
    <li>Services</li>
    <li>Products</li>
    <li>Clients</li>
    </ul>
    </nav>
  </div>
  <hr /> -->

  <app-notification-navbar></app-notification-navbar>


<!-- <div>
  
  <p>
    Enter Message : <input type="text" #message>
    <button (click)="sendMessage(message)">Send</button>
  </p>
 
</div> -->

<form class="formGroup" [formGroup]="profileForm" >
  <label for="entermsg">Enter Message: </label>
  <input  id="entermsg" type="text" name="entermsg" formControlName="entermsg"> 
  <button (click)="sendMessage()">Send</button>
</form>


<div *ngFor="let user of users ">
  <span>{{user.name}}</span>
</div>
<router-outlet></router-outlet>